<ion-header>
    <ion-toolbar>
      <ion-title>
        <p (click)="dismiss()">Close</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <div class="flip-container" id="flip-container">
          <div class="flipper">
            <div class="front">
          </div>
          <h1>{{Name}} </h1>
          <div class="back">
            <!-- back content -->
            876 N Vermont Ave, Los Angeles, CA 90029
            </div>
           <div class=back> Daily Hours: 8:30 AM - 1:30 AM <button id="Direct"><a href="maps:?q=34.087520,-118.291480" target="_system">Directions</a></button></div>
           <img src="https://i.ibb.co/WGdDQt6/Family-Amusement.jpg" class="center">
          <style>
          .center{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
          }
          </style>
          </div>
        </div>
  </ion-content>
