<ion-tabs>

  <ion-tab-bar slot="bottom" class="bar">
    <ion-tab-button class="icon" tab="tab1">
      <ion-icon class="icon" name="logo-game-controller-a"></ion-icon>
      <ion-label class="icon">Arcades</ion-label>
    </ion-tab-button>

    <ion-tab-button class="icon" tab="tab2">
      <ion-icon  class="icon" name="medal"></ion-icon>
      <ion-label class="icon">Leaderboard</ion-label>
    </ion-tab-button>

    <ion-tab-button class="icon" tab="tab3">
      <ion-icon  class="icon" name="pin"></ion-icon>
      <ion-label class="icon">ArcadeMe</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
