.RetroMe{
  /* retro me */


position: absolute;
width: 190px;
height: 46px;

font-family: Pixelony;
font-size: 30px;
line-height: 10px;
/* identical to box height */


color: #000000;
}
#map_canvas {
  height: 190%;
  width: 100%;
}
ion-toolbar{
  --background: #F54040; 
}
ion-title{
  font-size: 30px;
  color: white;
}
