<ion-header>
  <ion-toolbar>
    <ion-title>
      RetroMe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <!-- <ion-card> -->
  <div id='map_canvas'></div>
  <!-- <ion-button onclick="loadMap()" >This is a button</ion-button>
      </div>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>This is a test</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list> -->
</ion-content>




<ion-bottom-drawer [(state)]="state" [dockedHeight]="300" distanceTop="100" minimumHeight="0">
  <div class="drawer-content">
    <div class="marker"></div>
    <h1 class="name"> {{name}} </h1>
    <div class="container-stars"> 
      <div>
          <img class="stars" src="assets/Stars.png">
      </div>
      <div class="review"> (350) Google Reviews </div>
    </div>
    <div class="directions"> <a href="maps:?q=34.087520,-118.291480" target="_system"><img src="assets/Directions.png"></a> </div>
    <div class= "Text">{{description}}</div>  
    <div class="pic"> <img class="place" src="assets/FamilyAmusement2.jpg"></div>
    <div class="info"> Hours: </div>
    <div class="Text"> {{hours}} </div>
    <div class="info"> Phone: </div>
    <div class="Text"> {{phone}} </div>
    <div class="info">Address:</div>
    <div class="Text"> {{address}} </div>
  </div>
</ion-bottom-drawer>