<ion-header>
  <ion-toolbar>
    <ion-title>
      Arcade Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Redbox" style="color: red"> Input arcade information </div>
  <div class="textbox"></div>
  <form>
    <p class="TitleArcade">Arcade: </p>
    <input id="Name" type="text">
    <p class="TitleHours">Address:</p>
    <input id="Hours" type="text">
    <p class="TitleAddress">Hours:</p>
    <input id="Address" type=text>
    <p class="TitlePhone">Phone #:</p>
    <input id="Phone" type="text">
  </form>
  <button class="Send" ion-button full (click)="sendEmail()">Submit</button>
  <style>
    .TitleArcade {
      position: absolute;
      width: 64px;
      height: 25px;
      left: 33px;
      top: 70px;
      font-family: Pixelony;
      font-size: 20px;
      line-height: 23px;
      background-color: #ffffff;
      z-index: 103;
      /* identical to box height */


      color: #000000;
    }

    .TitleHours {
      position: absolute;
      width: 75px;
      height: 23px;
      left: 33px;
      top: 282px;
      font-family: Pixelony;
      font-size: 20px;
      line-height: 23px;
      background-color: #ffffff;
      z-index: 102;
      /* identical to box height */


      color: #000000;
    }

    .TitleAddress {
      position: absolute;
      width: 58px;
      height: 20px;
      left: 33px;
      top: 177px;

      font-family: Pixelony;
      font-size: 20px;
      line-height: 23px;
      background-color: #ffffff;
      color: #000000;
      z-index: 101;
    }

    .TitlePhone {
      position: absolute;
      width: 76px;
      height: 21px;
      left: 33px;
      top: 392px;

      font-family: Pixelony;
      font-size: 20px;
      line-height: 23px;
      background-color: #ffffff;
      color: #000000;
      z-index: 100;
    }

    .textbox {
      font-family: Pixelony;
      margin-left: 10%;
    }

    #Name {
      position: absolute;
      width: 273px;
      height: 55px;
      left: 33px;
      top: 104px;
      border: 2px solid #000000;
      box-sizing: border-box;


      background: #ffffff;
    }

    #Hours {
      position: absolute;
      width: 273px;
      height: 55px;
      left: 33px;
      top: 210px;
      border: 2px solid #000000;
      box-sizing: border-box;
      background: #ffffff;
      z-index: 99;
    }

    #Address {
      position: absolute;
      width: 273px;
      height: 55px;
      left: 33px;
      top: 315px;
      border: 2px solid #000000;
      box-sizing: border-box;
      background: #ffffff;
      z-index: 99;
    }

    #Phone {
      position: absolute;
      width: 273px;
      height: 55px;
      left: 33px;
      top: 425px;
      border: 2px solid #000000;
      box-sizing: border-box;
      background: #ffffff;
      z-index: 99;
    }

    .Send {
      position: absolute;
      width: 163px;
      height: 34px;
      top: 545px;
      margin-left: 30%;
      background: #F54040;
      font-size: 15px;
      color: #ffff;
    }

    .Redbox {
      text-align: center;
      margin-top: 30px;
      font-size: 20px;
    }
  </style>
</ion-content>
