<ion-header>
  <ion-toolbar>
    <ion-title>
      User Input
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>  </div>
  <div class= "textbox"> Send RetroMe Arcade Info Below </div>
  <form>
    <p class="TitleArcade"> Name of Arcade </p>
    <input id="Name" type="text">
    <p class="TitleHours">Hours of Place</p>
    <input id="Hours" type="text">
    <p class="TitleAddress"> Address</p>
    <input id="Address" type=text>
    <p class="TitlePhone"> Phone(Optional) </p>
    <input id="Phone" type="text">
  </form>
    <button class="Send" ion-button full (click)="sendEmail()">Send Email</button>
    <style>
        .TitleArcade{
          position: absolute;
      width: 161px;
      height: 23px;
      left: 20px;
      top: 135px;
      font-family: Pixelony;
      font-size: 20px;
      line-height: 23px;
      /* identical to box height */
      
      
      color: #000000;
        }
        .TitleHours{
          position: absolute;
      width: 184px;
      height: 23px;
      left: 23px;
      top: 205px;
      font-family: Pixelony;
      font-size: 20px;
      line-height: 23px;
      /* identical to box height */
      
      
      color: #000000;
        }
        .TitleAddress{
          position: absolute;
      width: 206px;
      height: 20px;
      left: 22px;
      top: 275px;
      
      font-family: Pixelony;
      font-size: 20px;
      line-height: 23px;
      
      color: #000000;
        }
        .TitlePhone{
          position: absolute;
      width: 184px;
      height: 21px;
      left: 24px;
      top: 342px;
      
      font-family: Pixelony;
      font-size: 20px;
      line-height: 23px;
      
      color: #000000;
        }
        .textbox{
         margin-left: 25%;
        }
        #Email{
          width: 50%;
          margin-left: 5%;
        }
        #Name{
          position: absolute;
      width: 254px;
      height: 34px;
      left: 20px;
      top: 178px;
      
      background: #C2C0C0;
      border-radius: 7px;
        }
        #Hours{
          position: absolute;
      width: 254px;
      height: 34px;
      left: 20px;
      top: 247px;
      
      background: #C4C4C4;
      border-radius: 7px;
        }
        #Address{
          position: absolute;
      width: 254px;
      height: 34px;
      left: 24px;
      top: 316px;
      
      background: #C4C4C4;
      border-radius: 7px;
        }
        #Phone{
          position: absolute;
      width: 254px;
      height: 34px;
      left: 24px;
      top: 385px;
      
      background: #C4C4C4;
      border-radius: 7px;
        }
        .Send{
          position: absolute;
          width: 163px;
          height: 34px;
          left: 104px;
          top: 496px;
      
          background: #C4C4C4;
        }
        </style>
  </ion-content>
